Source: lutris
Section: games
Priority: optional
Maintainer: DebianGaming <noreply@github.com>
Build-Depends: debhelper-compat (= 13),
               meson,
               python3,
               python3-yaml,
               python3-requests,
               python3-pil,
               python3-gi,
               gettext
Standards-Version: 4.6.2
Homepage: https://github.com/lutris/lutris

Package: lutris
Architecture: all
Depends: ${python3:Depends},
         ${misc:Depends},
         python3-yaml,
         python3-requests,
         python3-pil,
         python3-gi,
         python3-setproctitle,
         python3-dbus,
         gir1.2-gtk-3.0,
         gir1.2-gnomedesktop-3.0,
         gir1.2-notify-0.7,
         cabextract,
         p7zip
Description: Open Gaming Platform
 Lutris helps you install and play video games from all eras and
 from most gaming systems. It supports native Linux games, Windows
 games via Wine/Proton, and emulators.
