#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --buildsystem=meson -- \
		-Dwith-sd-bus-provider=systemd \
		-Dwith-examples=false

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
